.header {
  background-color: $light-bgc;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
}

.navigation-list__link,
.header-address-list__link {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
}

.navigation-list__link {
  font-size: 14px;
  line-height: 1.143;
}

.header-address-list__link {
  font-size: 12px;
  line-height: 1.667;
}

.navigation-list {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
  }

  &__link.active {
    color: $main-color;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 46px;
      width: 100%;
      height: 4px;
      background: transparent;
      border-radius: 2px;
      background-color: $main-color;
    }
  }

  &__link {
    color: $main-colorFont;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}

.header-address-list {
  display: flex;
  margin-left: auto;

  &__link {
    color: $second-colorFont;
    fill: $second-colorFont;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $main-color;
      fill: $main-color;
    }
  }

  &__icon {
    margin-right: 8px;
    vertical-align: middle;
    fill: currentColor;
  }
}

@media screen and (max-width: 767.9px) {
  .header-container {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .navigation-list__link,
  .header-address-list__link {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header-container {
    display: flex;
    padding-top: 26px;
    padding-bottom: 21px;
    padding-left: 16px;
    align-items: center;
  }

  .navigation-list__item:not(:last-child) {
    margin-right: 60px;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list__item:not(:last-child) {
    margin-right: 46px;
  }

  .header-address-list {
    &__link-phone {
      margin-left: 50px;
    }

    &__icon {
      margin-right: 10px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.143;
    }
  }
}
