.hero-list {
  display: flex;
  flex-wrap: wrap;

  &__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $grey-bgc;
  }

  &__title {
    text-align: left;
  }

  &__description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $second-colorFont;
  }

  @media screen and (max-width: 767.9px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__title {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    margin: -15px;
    &__item {
      flex-basis: calc((100% - 30px * 2) / 2);
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;

    &__item {
      max-width: 270px;
      align-items: center;
    }
  }
}
