.banner {
  background-color: $dark-gray-color;
  &__title-order-button {
    color: $pure-white-color;
    background-color: $blue-color;
    padding: 10px 41px 10px 41px;
    width: 200px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  }

  &__title-solutions {
    color: $pure-white-color;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    line-height: 1.36;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .banner {
    margin: 30px 140px 58px 140px;
  }
  &__title-solutions {
    width: 365px;
    font-size: 26px;
    line-height: 1.36;
    margin: 0px 58px;
    padding-top: 58px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .banner {
    &__title-solutions {
      width: 365px;
      font-size: 26px;
      line-height: 1.36;
      margin: 0px 201px;
      padding-top: 118px;
    }

    &__title-order-button {
      margin: 30px 284px 118px 284px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    &__title-solutions {
      width: 696px;

      font-size: 44px;
      line-height: 1.36;
      margin: 0px 237px;
      padding-top: 106px;
    }

    &__title-order-button {
      margin: 30px 485px 200px 485px;
    }
  }
}

.background {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;

  background-color: $main-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/mobile/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/mobile/background-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/tablet/background-tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background/tablet/background-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/desktop/background-desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background/desktop/background-desktop@2x.jpg);
    }
  }
}
