@media screen and (min-width: 360px) and (max-width: 767px) {
  .container-navigation {
    width: 480px;
    border-bottom: 1px solid $border-color;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
}
.navigation {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: flex-start;

  &__logo {
    margin: 24px 0px 25px s15px;
    font-family: $Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    width: 145px;
    text-decoration: none;
    color: $main-color;
  }

  &__logo-web {
    color: $blue-color;
  }
  &__list {
    display: none;
  }
  &__links {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navigation__list-element {
    text-decoration: none;
    color: $main-color;
  }

  .navigation__links-element:focus,
  .navigation__links-element:hover {
    color: $blue-color;
  }

  .navigation__links-icon-mail :hover,
  .navigation__links-icon-mail :focus,
  .navigation__links-icon-smartphone :focus,
  .navigation__links-icon-smartphone :hover {
    filter: invert(44%) sepia(65%) saturate(2166%) hue-rotate(186deg) brightness(101%) contrast(91%);
  }

  .portfolio-active,
  .agency-active {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
  }

  .agency-active:hover:after,
  .agency-active:focus:after,
  .portfolio-active:focus:after,
  .portfolio-active:hover:after {
    content: '';
    height: 4px;
    display: block;
    width: 100%;
    background-color: $blue-color;
    border-radius: 2px;
    position: absolute;
    top: 44px;
  }

  .navigation__links-phone {
    width: 130px;
  }

  .navigation__links-mail {
    width: 161px;
  }

  .navigation__links-element {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.02em;
    height: 16px;
    text-decoration: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 0px;
    padding-right: 0px;

    &__logo {
      margin: 24px 93px 25px 0px;
      font-family: $Raleway;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.17;
      width: 145px;
    }

    &__logo-web {
      color: $blue-color;
    }

    &__list {
      display: flex;
      list-style: none;
      gap: 46px;
      border: 0px;
      line-height: 1.17;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;
      padding-left: 0px;
    }

    &__list-item {
      position: relative;
    }

    &__list-element:focus,
    &__list-element:hover {
      color: $blue-color;
      outline: none;
    }

    &__links {
      list-style: none;
      color: $light-grey-color;

      flex-direction: column;
      gap: 10px;
      margin: 21px 15px 21px 101px;
      transition-property: color;

      transition-duration: 250ms;
      transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__links-icon-smartphone {
      width: 30px;
      height: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list-element {
    text-decoration: none;
    color: $main-color;
  }

  .navigation__links-element:focus,
  .navigation__links-element:hover {
    color: $blue-color;
  }

  .navigation__links-icon-mail :hover,
  .navigation__links-icon-mail :focus,
  .navigation__links-icon-smartphone :focus,
  .navigation__links-icon-smartphone :hover {
    filter: invert(44%) sepia(65%) saturate(2166%) hue-rotate(186deg) brightness(101%) contrast(91%);
  }

  .portfolio-active,
  .agency-active {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
  }

  .agency-active:hover:after,
  .agency-active:focus:after,
  .portfolio-active:focus:after,
  .portfolio-active:hover:after {
    content: '';
    height: 4px;
    display: block;
    width: 100%;
    background-color: $blue-color;
    border-radius: 2px;
    position: absolute;
    top: 44px;
  }

  .navigation__links-phone {
    width: 130px;
  }

  .navigation__links-mail {
    width: 161px;
  }

  .navigation__links-element {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.02em;
    height: 16px;
    text-decoration: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-start;

    &__logo {
      margin: 24px 93px 25px 0px;
      font-family: $Raleway;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.17;
      width: 145px;
    }

    &__logo-web {
      color: $blue-color;
    }

    &__list {
      display: flex;
      list-style: none;
      gap: 46px;
      border: 0px;
      line-height: 1.17;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;
      padding-left: 0px;
    }

    &__list-item {
      position: relative;
    }

    &__list-element:focus,
    &__list-element:hover {
      color: $blue-color;
      outline: none;
    }

    &__links {
      display: flex;
      list-style: none;
      color: $light-grey-color;
      gap: 30px;
      margin: 32px 0px 32px 305px;

      transition-property: color;

      transition-duration: 250ms;
      transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__links-icon-smartphone {
      width: 30px;
      height: 16px;
    }
  }
}
