@media screen and (max-width: 1200px) {
  .our-job {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-job {
    &__title {
      color: $main-color;
      margin: 0px 409px 50px 409px;
      line-height: 1.17;
      font-size: 36px;
      font-weight: 700;
      width: 352px;
    }
    &__list {
      display: flex;
      list-style: none;
      padding-left: 15px;
      gap: 30px;

      &-item {
        position: absolute;
        text-align: center;
        padding-top: 27px;
        margin-top: -70px;
        font-style: normal;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        width: 365px;
        height: 70px;
        font-weight: 700;
        color: $pure-white-color;
        background: rgba(47, 48, 58, 0.8) 80%;
      }
    }
  }
}
