.page {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
    width: 480px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
    width: 1200px;
  }
}
