.products-list {
  display: flex;
  padding-left: 0px;
  width: 1170px;
  flex-wrap: wrap;
  margin: 0px 30px 0px 30px;
  gap: 0px 30px;
  list-style: none;

  &__photo {
    width: 370px;
    margin-bottom: 30px;
    border: 1px solid $border-color;
    z-index: 1;
    cursor: pointer;
  }

  &__photo:hover,
  &__photo:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__card {
    overflow: hidden;
    position: relative;
  }

  &__description {
    color: $pure-white-color;
    background-color: $blue-color;
    z-index: -1;
    padding: 49px 45px 49px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 370px;
    height: 294px;
    font-style: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    transition-property: transform, visibility, opacity, z-index;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__photo:hover &__description,
  &__photo:focus &__description {
    transform: translateY(-100%);
    opacity: 0.9;
    z-index: 3;
  }

  &__title {
    font-weight: 700;
    line-height: 2;
    font-size: 18px;
    margin: 0px;
  }

  &__span {
    color: $light-grey-color;
    line-height: 1.87;
    font-size: 16px;
  }

  &__item {
    padding: 20px 24px 20px 24px;
    z-index: 10;
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: 0px;
    opacity: 1;
  }
}
