$main-font: 'Roboto', sans-serif;
$second-font: 'Raleway', sans-serif;
$main-color: #2196f3;
$icon-color: #afb1b8;
$main-colorFont: #212121;
$second-colorFont: #757575;
$third-colorFont: #ffffff;
$main-bgc: #e5e5e5;
$dark-bgc: #2f303a;
$grey-bgc: #f5f4fa;
$light-bgc: #ffffff;
$light2-bgc: #eeeeee;
