$main-color: #212121;
$blue-color: #2196f3;
$gray-color: rgba(255, 255, 255, 0.6);
$dark-gray-color: #2f303a;
$white-color: #f5f4fa;
$pure-white-color: #fff;
$light-grey-color: rgba(117, 117, 117, 1);
$border-color: rgba(236, 236, 236, 1);
$button-color: rgba(245, 244, 250, 1);
$icon-grey-color: rgba(175, 177, 184, 1);
$grey-transparent-background-all: rgba(0, 0, 0, 0.2);
$Raleway: 'Raleway', sans-serif;
